/* Base Application Styles */
img {
  box-sizing: border-box;
  height: auto;
  width: 40px;
  display: block;
}

table {
  width: 790px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 12px;
    text-align: left;
}

.red {
  border: 1px solid red;
}

.yellow {
  border: 1px solid yellow;
}

.board {
  border-collapse: collapse;
  border: 10px solid black;
  text-align: center;
  width: auto;
}

.grid {
  border: 0;
  padding: 0;
}

body {
  text-align: center;
  width: 800px;
  margin: auto;
}

.java {
  border: 10px solid black;
}

.avatar {
  width: 50px;
  height: 50px;
}

#dropZone {
  margin: auto;
}
