/* Base Application Styles */
img {
  box-sizing: border-box;
  height: auto;
  width: 40px;
  display: block;
}

.red {
  border: 1px solid red;
}

.yellow {
  border: 1px solid yellow;
}

.board {
  border-collapse: collapse;
  border: 10px solid black;
}

.grid {
  padding: 0;
}

body {
  text-align: center;
  width: 600px;
  margin: auto;
}
